@charset "UTF-8";
@import url("/wp-includes/css/dashicons.min.css");
.has-header-image #masthead .custom-header,
.has-header-video #masthead .custom-header,
.has-header-image #masthead .custom-header,
.has-header-video #masthead .custom-header {
  margin: 0 !important;
  display: table;
  height: 300px;
  height: 75vh;
  width: 100%; }
  @media screen and (min-width: 48em) {
    .has-header-image #masthead .custom-header,
    .has-header-video #masthead .custom-header,
    .has-header-image #masthead .custom-header,
    .has-header-video #masthead .custom-header {
      display: block;
      height: auto; } }
  .has-header-image #masthead .custom-header .custom-header-media,
  .has-header-video #masthead .custom-header .custom-header-media,
  .has-header-image #masthead .custom-header .custom-header-media,
  .has-header-video #masthead .custom-header .custom-header-media {
    position: relative; }
    @media screen and (min-width: 48em) {
      .has-header-image #masthead .custom-header .custom-header-media,
      .has-header-video #masthead .custom-header .custom-header-media,
      .has-header-image #masthead .custom-header .custom-header-media,
      .has-header-video #masthead .custom-header .custom-header-media {
        height: calc(100vh - 32px); } }
    .has-header-image #masthead .custom-header .custom-header-media img,
    .has-header-video #masthead .custom-header .custom-header-media img,
    .has-header-image #masthead .custom-header .custom-header-media img,
    .has-header-video #masthead .custom-header .custom-header-media img {
      position: fixed;
      bottom: auto; }
  .has-header-image #masthead .custom-header .site-branding,
  .has-header-video #masthead .custom-header .site-branding,
  .has-header-image #masthead .custom-header .site-branding,
  .has-header-video #masthead .custom-header .site-branding {
    margin: 0 !important; }
    @media screen and (min-width: 48em) {
      .has-header-image #masthead .custom-header .site-branding,
      .has-header-video #masthead .custom-header .site-branding,
      .has-header-image #masthead .custom-header .site-branding,
      .has-header-video #masthead .custom-header .site-branding {
        bottom: 0;
        display: block;
        left: 0;
        height: auto;
        padding-top: 0;
        position: absolute;
        width: 100%; } }

.entry-content strong {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #ff6));
  background: -webkit-linear-gradient(transparent 60%, #ff6 60%);
  background: -o-linear-gradient(transparent 60%, #ff6 60%);
  background: linear-gradient(transparent 60%, #ff6 60%); }

.link-sns {
  margin: 0;
  list-style: none; }
  @media screen and (min-width: 40em) {
    .link-sns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .link-sns__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .link-sns__item a {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
      .link-sns__item a img {
        -webkit-box-shadow: none;
        box-shadow: none; }
    .link-sns__item br, .link-sns__item p {
      display: none; }
    .link-sns__item__account {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-left: 1em;
      color: #2f4d65;
      font-size: 14px;
      font-weight: bold; }
      .link-sns__item__account br {
        display: inline; }

.navigation-top {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border-top: none;
  border-bottom: none;
  margin: 0 20px;
  bottom: 45px;
  width: auto; }
  .navigation-top .wrap {
    max-width: none; }
  @media screen and (min-width: 1120px) {
    .navigation-top {
      width: 1080px !important;
      left: 50% !important;
      right: auto !important;
      -webkit-transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
      transform: translateX(-50%) !important; } }
  .navigation-top a {
    color: #241e1e; }
    @media screen and (min-width: 48em) {
      .navigation-top a {
        padding: .5em 1.25em; } }
  .navigation-top .current-menu-item > a,
  .navigation-top .current_page_item > a {
    color: #241e1e;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/nav-current.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 115px auto; }

.outline {
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .outline__content {
      float: left;
      width: 640px; } }
  .outline__info {
    margin: 2em 0 0;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/bg.jpg);
    border-radius: 5px;
    padding: 1em 2em; }
    @media screen and (min-width: 1024px) {
      .outline__info {
        margin: 0;
        float: right;
        width: 284px;
        padding: 2em 3em; } }
    .outline__info dt, .outline__info dd {
      margin: 0;
      font-size: 14px;
      padding: 0; }
    .outline__info dt {
      font-weight: bold; }
      .outline__info dt:not(:first-child) {
        margin-top: 1em; }
        @media screen and (min-width: 1024px) {
          .outline__info dt:not(:first-child) {
            margin-top: 2em; } }

.single-featured-image-header {
  display: none; }

.site-branding {
  display: block; }
  .site-branding .site-title > a {
    display: block;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/site-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 116px;
    text-indent: -9999px;
    max-width: 100%; }
    @media screen and (min-width: 768px) {
      .site-branding .site-title > a {
        width: 250px;
        height: 144px; } }
    @media screen and (min-width: 1024px) {
      .site-branding .site-title > a {
        width: 462px;
        height: 265px; } }
  .site-branding .site-description {
    display: none; }
  @media screen and (min-width: 48em) {
    .site-branding .wrap {
      max-width: 1180px;
      padding: 0 100px; } }

.site-footer {
  background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/bg.jpg); }

.site-header {
  position: relative; }
  .site-header .custom-header-media::before {
    background: none !important; }
  .site-header .site-branding {
    position: absolute;
    top: 10%; }

.site-info {
  float: none !important;
  width: auto !important;
  margin: 0;
  line-height: 1;
  padding: 0;
  text-align: center; }
  .site-info::after {
    content: "\f120";
    color: #fff;
    font-family: dashicons;
    font-size: 25px; }
    @media screen and (min-width: 1024px) {
      .site-info::after {
        font-size: 50px; } }
  .site-info > a {
    display: none; }

.twentyseventeen-panel {
  /**
   * 開催概要
   */
  /**
   * 夜キャンプ
   */
  /**
   * お知らせ
   */
  /**
   * Follow me!
   */
  /**
   * スポンサー
   */ }
  .twentyseventeen-panel .entry-header .entry-title {
    color: #2f4d65;
    font-size: 25px; }
    .twentyseventeen-panel .entry-header .entry-title::after {
      display: inline-block;
      color: #b9ddeb;
      font-size: 18px;
      margin-left: 5px; }
  .twentyseventeen-panel:first-child .panel-image {
    display: none; }
  .twentyseventeen-panel:first-child .entry-header .entry-title::after {
    content: 'OUTLINE'; }
  @media screen and (min-width: 1024px) {
    .twentyseventeen-panel:first-child .panel-content .wrap {
      padding-right: 0;
      padding-left: 0;
      max-width: 984px; } }
  .twentyseventeen-panel:nth-child(2) {
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/night-camp.jpg);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    padding: 3em 0; }
    .twentyseventeen-panel:nth-child(2) .panel-content {
      padding: 2em; }
      @media screen and (min-width: 1024px) {
        .twentyseventeen-panel:nth-child(2) .panel-content {
          margin: 0 auto;
          max-width: 984px;
          padding: 0; } }
      .twentyseventeen-panel:nth-child(2) .panel-content .wrap {
        background-color: rgba(0, 0, 0, 0.6);
        display: inline-block;
        padding: 3em 2em;
        max-width: none; }
        .twentyseventeen-panel:nth-child(2) .panel-content .wrap .entry-header {
          margin-bottom: 0; }
        .twentyseventeen-panel:nth-child(2) .panel-content .wrap .entry-title,
        .twentyseventeen-panel:nth-child(2) .panel-content .wrap .entry-content {
          color: #fff; }
  .twentyseventeen-panel:nth-child(3) {
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/wapuu.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 25%; }
    .twentyseventeen-panel:nth-child(3) .entry-header .entry-title::after {
      content: 'NEWS'; }
    @media screen and (min-width: 1024px) {
      .twentyseventeen-panel:nth-child(3) .panel-content .wrap {
        padding-right: 0;
        padding-left: 0;
        max-width: 840px; } }
    @media screen and (min-width: 1024px) {
      .twentyseventeen-panel:nth-child(3) .recent-posts {
        max-width: 565px; } }
    .twentyseventeen-panel:nth-child(3) .recent-posts .hentry {
      margin-bottom: 15px; }
    .twentyseventeen-panel:nth-child(3) .recent-posts .entry-header {
      margin-bottom: 0; }
      .twentyseventeen-panel:nth-child(3) .recent-posts .entry-header .entry-date {
        margin: 0 5px;
        font-size: 12px;
        font-weight: normal; }
      .twentyseventeen-panel:nth-child(3) .recent-posts .entry-header .entry-title {
        border-bottom: 2px solid #80c3db;
        font-size: 15px;
        font-weight: normal;
        padding: 0 0 15px; }
        .twentyseventeen-panel:nth-child(3) .recent-posts .entry-header .entry-title::after {
          display: none; }
        .twentyseventeen-panel:nth-child(3) .recent-posts .entry-header .entry-title > a {
          margin: 0 5px; }
    .twentyseventeen-panel:nth-child(3) .recent-posts .entry-summary {
      display: none; }
  .twentyseventeen-panel:nth-child(4) {
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/bg.jpg); }
    .twentyseventeen-panel:nth-child(4) .entry-header .entry-title {
      text-transform: none; }
    @media screen and (min-width: 1024px) {
      .twentyseventeen-panel:nth-child(4) .panel-content .wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
        max-width: 840px; }
        .twentyseventeen-panel:nth-child(4) .panel-content .wrap > .entry-header {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          margin: 0; }
        .twentyseventeen-panel:nth-child(4) .panel-content .wrap > .entry-content {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          margin-left: 2em; } }
  .twentyseventeen-panel:nth-child(5) .entry-header .entry-title::after {
    content: 'SPONSORS'; }
  @media screen and (min-width: 1024px) {
    .twentyseventeen-panel:nth-child(5) .panel-content .wrap {
      padding-right: 0;
      padding-left: 0;
      max-width: 840px; } }

.wcorg-sponsors h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 2em 0 .5em;
  color: #2f4d65;
  font-size: 18px;
  padding: 0 10px; }
  @media screen and (min-width: 1024px) {
    .wcorg-sponsors h2 {
      padding: 0 25px; } }

.wcorg-sponsors [class^="wcorg-sponsor-level-"] {
  margin: 0 -10px -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .wcorg-sponsors [class^="wcorg-sponsor-level-"] {
      margin: 0 -25px -25px; } }

.wcorg-sponsors [class^="wcorg-sponsor-level-"]:nth-of-type(1) .wcorg-sponsor,
.wcorg-sponsors [class^="wcorg-sponsor-level-"]:nth-of-type(2) .wcorg-sponsor {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%; }

.wcorg-sponsors [class^="wcorg-sponsor-level-"]:nth-of-type(n + 3) .wcorg-sponsor {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%; }

.wcorg-sponsors .wcorg-sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 10px;
  max-width: 100%; }
  @media screen and (min-width: 1024px) {
    .wcorg-sponsors .wcorg-sponsor {
      padding: 0 25px 25px; } }
  .wcorg-sponsors .wcorg-sponsor h3 {
    display: none; }
  .wcorg-sponsors .wcorg-sponsor .wcorg-sponsor-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #bedfea; }
    @media screen and (min-width: 1024px) {
      .wcorg-sponsors .wcorg-sponsor .wcorg-sponsor-description {
        padding: 20px; } }
    .wcorg-sponsors .wcorg-sponsor .wcorg-sponsor-description :not(img) {
      display: none; }
    .wcorg-sponsors .wcorg-sponsor .wcorg-sponsor-description img {
      vertical-align: bottom; }
