@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700);
html[lang="ja"] body, html[lang="ja"] button, html[lang="ja"] input, html[lang="ja"] select, html[lang="ja"] textarea {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
  font-size: 0.9rem;
  line-height: 2em;
  color: #000; }

.entry-content a, .entry-summary a, .widget a, .site-footer .widget-area a, .posts-navigation a, .widget_authors a strong {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .entry-content a img, .entry-summary a img, .widget a img, .site-footer .widget-area a img, .posts-navigation a img, .widget_authors a strong img {
    transiton: .3s; }

.site-description {
  display: none; }

.site-branding-text a {
  width: 375px;
  max-width: 70vw;
  height: 205px;
  background: url(https://2018.ogijima.wordcamp.org/files/2018/03/logo.png) 0 0 no-repeat;
  background-size: contain;
  text-indent: -9999px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-right: 0; }

.site-branding {
  height: 100% !important; }
  .site-branding .wrap {
    height: 100%; }

.menu-scroll-down {
  display: none !important; }

body:not(.title-tagline-hidden) .site-branding-text {
  display: inline-block;
  vertical-align: middle; }

.entry-header.overview {
  padding-top: 3em; }
  @media only screen and (min-width: 30em) {
    .entry-header.overview {
      padding-top: 6em; } }
  .entry-header.overview .entry-title::after {
    display: none !important; }

.entry-title {
  text-align: center;
  font-size: 1.5rem !important;
  color: #000;
  font-weight: 700 !important;
  text-transform: none !important; }

.entry-content h3 {
  text-align: center;
  font-size: 0.9rem;
  color: #000; }

.entry-content img {
  max-width: 80%; }

.entry-content.align-center {
  text-align: center; }

.btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1em; }
  @media only screen and (min-width: 30em) {
    .btn-flex {
      margin-top: 0;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.btn-round {
  padding: 10px 30px 10px 15px;
  border-radius: 20px;
  font-size: 0.75rem;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  margin-bottom: 3em;
  -webkit-box-shadow: none  !important;
  box-shadow: none  !important;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative; }
  .btn-round::after {
    font-family: FontAwesome;
    content: '\f107';
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 1px; }
  .btn-round:hover {
    background-color: #000;
    color: #fff !important;
    -webkit-box-shadow: none  !important;
    box-shadow: none  !important; }

.link-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1em 5%; }
  @media only screen and (min-width: 30em) {
    .link-sns {
      margin: 0 3.6em; } }
  .link-sns li {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
    @media only screen and (min-width: 30em) {
      .link-sns li {
        -ms-flex-preferred-size: auto;
        flex-basis: auto; } }
  .link-sns a:hover {
    opacity: .7; }
  .link-sns img {
    max-width: 100%; }

.edit-link {
  text-align: right; }

.aling-center {
  text-align: center !important; }

.image-style1 {
  margin-top: 3em; }

.title-camp {
  font-size: 1rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .title-camp::before, .title-camp::after {
    content: '';
    background: url(https://2018.ogijima.wordcamp.org/files/2018/03/garland.png) center center no-repeat;
    background-size: contain;
    width: 60px;
    height: auto;
    margin: 0 5px; }
  .title-camp::after {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); }

.twentyseventeen-panel:first-child .panel-image {
  display: none; }

#panel3 .entry-header {
  display: none; }

#panel3 .align-center {
  margin-top: 2em; }
  @media only screen and (min-width: 30em) {
    #panel3 .align-center {
      margin-top: 5em; } }

@media only screen and (min-width: 30em) {
  #english {
    padding-top: 1.6em;
    padding-bottom: 1em; } }
