@charset "UTF-8";
.entry-content strong {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #ff6));
  background: -webkit-linear-gradient(transparent 60%, #ff6 60%);
  background: -o-linear-gradient(transparent 60%, #ff6 60%);
  background: linear-gradient(transparent 60%, #ff6 60%); }

.navigation-top {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border-top: none;
  border-bottom: none;
  margin: 0 20px;
  bottom: 45px;
  width: auto; }
  .navigation-top .wrap {
    max-width: none; }
  @media screen and (min-width: 1120px) {
    .navigation-top {
      width: 1080px !important;
      left: 50% !important;
      right: auto !important;
      -webkit-transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
      transform: translateX(-50%) !important; } }
  .navigation-top a {
    color: #241e1e; }
    @media screen and (min-width: 48em) {
      .navigation-top a {
        padding: .5em 1.25em; } }
  .navigation-top .current-menu-item > a,
  .navigation-top .current_page_item > a {
    color: #241e1e;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/nav-current.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 115px auto; }

.outline {
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .outline__content {
      float: left;
      width: 640px; } }
  .outline__info {
    margin: 2em 0 0;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/bg.jpg);
    border-radius: 5px;
    padding: 1em 2em; }
    @media screen and (min-width: 1024px) {
      .outline__info {
        margin: 0;
        float: right;
        width: 284px;
        padding: 2em 3em; } }
    .outline__info dt, .outline__info dd {
      margin: 0;
      font-size: 14px;
      padding: 0; }
    .outline__info dt {
      font-weight: bold; }
      .outline__info dt:not(:first-child) {
        margin-top: 1em; }
        @media screen and (min-width: 1024px) {
          .outline__info dt:not(:first-child) {
            margin-top: 2em; } }

.site-branding {
  display: block; }
  .site-branding .site-title > a {
    display: block;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/site-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 116px;
    text-indent: -9999px;
    max-width: 100%; }
    @media screen and (min-width: 768px) {
      .site-branding .site-title > a {
        width: 250px;
        height: 144px; } }
    @media screen and (min-width: 1024px) {
      .site-branding .site-title > a {
        width: 462px;
        height: 265px; } }
  .site-branding .site-description {
    display: none; }
  @media screen and (min-width: 48em) {
    .site-branding .wrap {
      max-width: 1180px;
      padding: 0 100px; } }

.site-header {
  position: relative; }
  .site-header .custom-header-media::before {
    background: none !important; }
  .site-header .site-branding {
    position: absolute;
    top: 10%; }

.twentyseventeen-panel {
  /**
   * 開催概要
   */
  /**
   * 夜キャンプ
   */ }
  .twentyseventeen-panel .entry-header .entry-title {
    color: #2f4d65;
    font-size: 25px; }
    .twentyseventeen-panel .entry-header .entry-title::after {
      display: inline-block;
      color: #b9ddeb;
      font-size: 18px;
      margin-left: 5px; }
  .twentyseventeen-panel:first-child .panel-image {
    display: none; }
  .twentyseventeen-panel:first-child .entry-header .entry-title::after {
    content: 'OUTLINE'; }
  @media screen and (min-width: 1024px) {
    .twentyseventeen-panel:first-child .panel-content .wrap {
      padding-right: 0;
      padding-left: 0;
      max-width: 984px; } }
  .twentyseventeen-panel:nth-child(2) {
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/night-camp.jpg);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    padding: 3em 0; }
    .twentyseventeen-panel:nth-child(2) .panel-content {
      padding: 2em; }
      @media screen and (min-width: 1024px) {
        .twentyseventeen-panel:nth-child(2) .panel-content {
          margin: 0 auto;
          max-width: 984px;
          padding: 0; } }
      .twentyseventeen-panel:nth-child(2) .panel-content .wrap {
        background-color: rgba(0, 0, 0, 0.6);
        display: inline-block;
        padding: 3em 2em;
        max-width: none; }
        .twentyseventeen-panel:nth-child(2) .panel-content .wrap .entry-header {
          margin-bottom: 0; }
        .twentyseventeen-panel:nth-child(2) .panel-content .wrap .entry-title,
        .twentyseventeen-panel:nth-child(2) .panel-content .wrap .entry-content {
          color: #fff; }
