.navigation-top {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border-top: none;
  border-bottom: none;
  margin: 0 20px;
  bottom: 45px;
  width: auto; }
  .navigation-top .wrap {
    max-width: none; }
  @media screen and (min-width: 1120px) {
    .navigation-top {
      width: 1080px;
      left: 50% !important;
      right: auto !important;
      -webkit-transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
      transform: translateX(-50%) !important; } }
  .navigation-top a {
    color: #241e1e; }
    @media screen and (min-width: 48em) {
      .navigation-top a {
        padding: .5em 1.25em; } }
  .navigation-top .current-menu-item > a,
  .navigation-top .current_page_item > a {
    color: #241e1e;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/nav-current.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 115px auto; }

.site-branding {
  display: block; }
  .site-branding .site-title > a {
    display: block;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/site-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 116px;
    text-indent: -9999px;
    max-width: 100%; }
    @media screen and (min-width: 768px) {
      .site-branding .site-title > a {
        width: 250px;
        height: 144px; } }
    @media screen and (min-width: 1024px) {
      .site-branding .site-title > a {
        width: 462px;
        height: 265px; } }
  .site-branding .site-description {
    display: none; }
  @media screen and (min-width: 48em) {
    .site-branding .wrap {
      max-width: 1180px;
      padding: 0 100px; } }

.site-header {
  position: relative; }
  .site-header .custom-header-media::before {
    background: none !important; }
  .site-header .site-branding {
    position: absolute;
    top: 10%; }
