@charset "UTF-8";

@import url(/wp-includes/css/dashicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700);

html {
  font-size: 15px;

  &[lang="ja"] {
    body,
    button,
    input,
    select,
    textarea {
      font-family: 'Noto Sans JP','Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
    }
  }
}

#page #primary {
  float: none;
  width: auto;
}

#page #secondary {
  display: none;
}

@import 'components/*';
