.has-header-image #masthead .custom-header,
.has-header-video #masthead .custom-header,
.has-header-image #masthead .custom-header,
.has-header-video #masthead .custom-header {
  margin: 0 !important;
  display: table;
  height: 300px;
  height: 75vh;
  width: 100%;

  @media screen and (min-width: 48em) {
    display: block;
    height: auto;
  }

  .custom-header-media {
    position: relative;

    @media screen and (min-width: 48em) {
      height: calc(100vh - 32px);
    }

    img {
      position: fixed;
      bottom: auto;
    }
  }

  .site-branding {
    margin: 0 !important;

    @media screen and (min-width: 48em) {
      bottom: 0;
      display: block;
      left: 0;
      height: auto;
      padding-top: 0;
      position: absolute;
      width: 100%;
    }
  }
}
