.post,
.page:not(.twentyseventeen-front-page) {
  .entry-header {
    .entry-meta {
      color: #247277;
      font-size: 12px;
      font-weight: normal;

      a {
        color: #247277;
      }
    }

    .entry-title {
      color: #2f4d65;
      font-size: 25px;
    }
  }
}

.page .panel-content .entry-title,
.page-title,
body.page:not(.twentyseventeen-front-page) .entry-title {
  text-transform: none;
}

.entry-content {
  line-height: 1.7;

  > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    margin-top: 1.5em;
  }

  > h2 {
    margin: 1.5em 0 1em;
    color: #3f809b;
    font-size: 22px;
    padding: 0;
  }

  > h3 {
    margin: 1.5em 0 1em;
    color: #3f809b;
    font-size: 20px;
    padding: 0;
  }

  > h4 {
    margin: 1.5em 0 1em;
    color: #2f4d65;
    font-size: 19px;
    border-left: 8px solid #5592ab;
    padding: 0 0 0 .5em;
  }

  > h5 {
    margin: 1.5em 0 1em;
    color: #3f809b;
    font-size: 19px;
    padding: 0;
  }

  > h6 {
    margin: 1.5em 0 1em;
    color: #2f4d65;
    font-size: 17px;
    padding: 0;
  }

  > blockquote {
    position: relative;
    background-color: #d8eef6;
    border-radius: 5px;
    padding: 1rem 1rem 1rem calc(2rem + 37px);
    font-style: normal;
    font-size: 1rem;
    color: #000;

    @media screen and (min-width: 768px) {
      padding: 2rem 2rem 2rem calc(3rem + 37px);
    }

    &::before {
      content: '“';
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 50px;
      color: #fff;
      background-color: #3f809b;
      border-radius: 100%;
      height: 37px;
      width: 37px;
      line-height: 58px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      left: 1rem;

      @media screen and (min-width: 768px) {
        left: 2rem;
      }
    }

    > * {
      margin-top: 0;
      margin-bottom: 0;

      & + & {
        margin-top: 1em;
      }
    }
  }

  table {
    tr {
      border-bottom: 1px solid #377590;
    }

    th {
      background: #d3ebf5;
      text-align: center;
      padding: 10px;
    }

    td {
      text-align: center;
      padding: 10px;
    }
  }

  > :first-child {
    margin-top: 0;
  }

  a {
    @include link();
    img{
      &:hover{
        opacity: .7;
        transition: .3s;
      }
    }
  }

  strong {
  }

  .font-small {
    font-size: 85%;
  }

  .notice{
    color: #cf3328;
    font-weight: bold;
  }
}

@media screen and (min-width: 48em) {
  [id^="anchor-"] {
    padding-top: 5em;
    margin-top: -3.5em;
  }
}
