.link-sns {
  margin: 0;
  list-style: none;

  @media screen and (min-width: 40em) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__item {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    a {
      flex: 0 1 auto;
      box-shadow: none !important;
      background: none !important;

      img {
        box-shadow: none;
      }

      &:hover, &:active, &:focus {
        @media screen and (min-width: 1024px) {
          opacity: 0.7;
          transition: .3s;
        }
      }
    }

    br, p {
      display: none;
    }

    &__account {
      flex: 1;
      margin-left: 1em;
      color: #2f4d65;
      font-size: 14px;
      font-weight: bold;

      br {
        display: inline;
      }
    }
  }
}
