.navigation-top {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 5px;
  border-top: none;
  border-bottom: none;
  margin: 0 20px;
  bottom: 45px;
  width: auto;

  .wrap {
    max-width: none;
  }

  @media screen and (min-width: 1120px) {
    width: 1080px !important;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
  }

  a {
    color: #241e1e;

    @media screen and (min-width: 48em) {
      padding: .5em 1.25em;
    }
  }

  .current-menu-item > a,
  .current_page_item > a {
    color: #241e1e;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/nav-current.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 115px auto;
  }

  .menu-item-has-children,
  .page_item_has_children {
    &::after {
      border-bottom-color: #38576d !important;
    }
  }

  .sub-menu {
    background-color: #38576d;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(#000, .2);
    padding: .75em 0;

    > .menu-item {
      background-color: transparent !important;

      > a {
        position: relative;
        color: #d8ecf5;
        padding: .75em 1.25em .75em 2em;

        @media screen and (min-width: 48em) {
          &:hover, &:active, &:focus {
            color: #fff;

            &::before {
              position: absolute;
              margin-top: 4px;
              margin-left: -16px;
              content: '';
              display: inline-block;
              width: 11px;
              height: 11px;
              background-color: #fff721;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }
}
