.table-sponsor{
  td{
    min-width: 100px;
  }
  .font-s{
    font-size: 90%;
  }
  .cell{
    &-s{
      width: 5%;
    }
    &-m{
      width: 24.5%;
    }
    &-l{
      width: 40%;
    }
  }
}
a.pushbutton-link{
  display: inline-block;
  background: #42809a;
  border-bottom: 3px solid #ddd;
  border-radius: 22px;
  font-size: 15px;
  padding: 1em 3em;
  color: #fff;
  font-weight: 800;
  &:hover{
    color: #fff;
    background-color: #304d64;
  }
  &:active,&:focus{
    color: #fff;
    transform: translateY(3px);
    border-bottom-color: transparent;
  }
}
.scroll-x{
  width: 100%;
  overflow-x: scroll;
}
