body.page-slug-sponsors{
  .site-content{
    display: none;
  }
  @media screen and (min-width: 40em){
    .site-footer{
      margin-top: 0 !important;
     .wcb_widget_sponsors{
        margin-bottom: 20vw;
        .widget-title::after{
          display: none;
        }
      }
    }
  }
}
.site-footer .wcb_widget_sponsors .sponsor-level{
  &.ogijimaspecial{
    a{
      display: none !important;
    }
  }
  &.boattaxi,&.beverage,&.foods{
    .sponsor-level-title{
        margin-top: 1em;
        font-size: 16px;
        color: #3f809b;
    }
  }
}
