.site-footer {
  margin-top: 0;
  border-top: none;

  .wrap {
    padding: 0;
  }

  .widget-area {
    padding: 0;

    .widget-column {
      float: none !important;
      width: auto !important;
    }
  }

  /**
   * スポンサー
   */
  .wcb_widget_sponsors {
    margin: 0 auto;
    overflow: hidden;
    padding: 1.75em 2em;

    @media screen and (min-width: 30em) {
      padding: 3.5em 2em;
    }

    @media screen and (min-width: 1024px) {
      padding: 6em 0;
      max-width: 840px;
    }

    body:not(.twentyseventeen-front-page) & {
      display: none;
    }

    .widget-title {
      margin: 0;
      color: #2f4d65;
      font-size: 25px;

      &::after {
        content: 'SPONSORS';
        display: inline-block;
        color: #b9ddeb;
        font-size: 18px;
        margin-left: 5px;
      }
    }

    .sponsor-level-title {
      flex: 1 1 100%;
      margin: 2em 0 .5em;
      color: #2f4d65;
      font-size: 18px;
      padding: 0 10px;
    }

    .sponsor-level {
      margin: 0 -10px -10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden;

      .sponsor-logo {
        position: relative;
        display: block;
        background: none !important;
        box-shadow: none !important;
        padding: 0 10px 10px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 10px;
          bottom: 10px;
          left: 10px;
          border: 1px solid #bedfea;
        }

        img {
          vertical-align: bottom;
          border: 10px solid transparent;
          object-fit: contain;
        }
      }

      &:nth-of-type(1),
      &:nth-of-type(2) {
        .sponsor-logo {
          flex:0 1 50%;

          img {
            @media screen and (min-width: 768px) {
              border-width: 50px 25px;
            }
          }
        }
      }

      &:nth-of-type(n + 3) {
        .sponsor-logo {
          flex:0 1 33%;

          img {
            @media screen and (min-width: 768px) {
              border-width: 40px 40px;
            }
          }
        }
      }
    }
  }

  /**
   * メニュー
   */
  .widget_nav_menu {
    margin: 0 calc(50% - 50vw);
    border-top: 1px solid #bddfeb;
    padding: .5em 0;
    text-align: center;

    body:not(.twentyseventeen-front-page) & {
      margin-top: -30px; // @todo
    }

    ul {
      li {
        margin: 0 .5em;
        display: inline-block;
        border-top: none;
        border-bottom: none;
        padding: 0;

        a {
          box-shadow: none;

          &:hover, &:active, &:focus {
            background: linear-gradient(transparent 60%, #ff6 60%);
            box-shadow: none;
          }
        }

        ul {
          display: none;
        }
      }
    }
  }
}
