body:not(.twentyseventeen-front-page) {
  .site-content#content {
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/wapuu.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 25%;
    padding-bottom: 25%;
  }
}
