.site-info {
  float: none !important;
  width: auto !important;
  margin: 0 calc(50% - 50vw);
  background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/bg.jpg);
  line-height: 1;
  padding: 2em 0 1.5em;
  text-align: center;

  > a{
    margin: 0 auto;
    display: block;
    box-shadow: none !important;
  }

  > .privacy-policy-link{
    font-size: 13px;
    color: #3f809b;
    margin-bottom: 1.5em !important;
    text-decoration: none;
    + span{
      display: none;
    }
  }

  > .imprint {
    font-size: 0;
    height: 25px;
    width: 25px;
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/wp.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: 1024px) {
      height: 50px;
      width: 50px;
    }
  }
}

body:not(.twentyseventeen-front-page) {
  .site-info {
    @media screen and (min-width: 40em) {
      position: relative;

      &::before {
        position: absolute;
        bottom: 100%;
        right: 0;
        content: '';
        display: block;
        background-size: contain;
        background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/wapuu.png);
        background-repeat: no-repeat;
        height: 26.6vw;
        width: 25vw;
      }
    }
  }
}
