.site-branding {
  display: block;

  .site-title {
    > a {
      display: block;
      background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/site-logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 116px;
      text-indent: -9999px;
      max-width: 100%;

      @media screen and (min-width: 768px) {
        width: 250px;
        height: 144px;
      }

      @media screen and (min-width: 1024px) {
        width: 462px;
        height: 265px;
      }
    }
  }

  .site-description {
    display: none;
  }

  .wrap {
    @media screen and (min-width: 48em) {
      max-width: 1180px;
      padding: 0 100px;
    }
  }
}
