.twentyseventeen-panel {
  .entry-header {
    .entry-title {
      color: #2f4d65;
      font-size: 25px;

      &::after {
        display: inline-block;
        color: #b9ddeb;
        font-size: 18px;
        margin-left: 5px;
      }
    }
  }

  /**
   * チケット状況
   */
  // &:first-child {
  //   display: none;
  // }
  &:first-child {
    @media screen and (min-width: 1024px){
      .panel-content .wrap{
        padding-top: 1em;
        padding-right: 0;
        padding-left: 0;
        max-width: 840px;
      }
    }
    @media screen and (min-width: 30em){
      .panel-content .wrap{
        padding-top: 0;
      }
    }
  }

  /**
   * 開催概要
   */
  // &:first-child {
  &:nth-child(3){
    .panel-image {
      display: none;
    }

    .entry-header .entry-title::after {
      content: 'OUTLINE';
    }

    .panel-content {
      .wrap {
        @media screen and (min-width: 1024px) {
          padding-right: 0;
          padding-left: 0;
          max-width: 984px;
        }
      }
    }
  }

  /**
   * 夜キャンプ
   */
  // &:nth-child(2) {
  &:nth-child(4) {
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/night-camp.jpg);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    padding: 3em 0;

    .panel-content {
      padding: 2em;

      @media screen and (min-width: 1024px) {
        margin: 0 auto;
        max-width: 984px;
        padding: 0;
      }

      .wrap {
        background-color: rgba(#000, .6);
        display: inline-block;
        padding: 3em 2em;
        max-width: none;

        .entry-header {
          margin-bottom: 0;
        }

        .entry-title,
        .entry-content {
          color: #fff;
        }

        a{
          color: #fff;
          background: linear-gradient(transparent 90%, #ff6 0%);
        }
      }
    }
  }

  /**
   * お知らせ
   */
  // &:nth-child(3) {
  &:nth-child(2) {
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/wapuu.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 25vw;
    min-height: 27vw;

    .entry-header .entry-title::after {
      content: 'NEWS';
    }

    .panel-content {
      .wrap {
        @media screen and (min-width: 1024px) {
          padding-right: 0;
          padding-left: 0;
          max-width: 840px;
        }
      }
    }

    .recent-posts {
      max-width: 80%;

      @media screen and (min-width: 1024px) {
        max-width: 565px;
      }

      .hentry {
        margin-bottom: 15px;
      }

      .entry-header {
        margin-bottom: 0;

        .entry-date {
          margin: 0 5px;
          font-size: 12px;
          font-weight: normal;
        }

        .entry-title {
          border-bottom: 2px solid #80c3db;
          font-size: 15px;
          font-weight: normal;
          padding: 0 0 15px;

          &::after {
            display: none;
          }

          > a {
            margin: 0 5px;
            @include link();
          }
        }
      }

      .entry-summary {
        display: none;
      }
    }
  }

  /**
   * Follow me!
   */
  // &:nth-child(4) {
  &:nth-child(5) {
    background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/bg.jpg);

    .entry-header {
      .entry-title {
        text-transform: none;
      }
    }

    .panel-content {
      .wrap {
        @media screen and (min-width: 1024px) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          padding-right: 0;
          padding-left: 0;
          max-width: 840px;

          > .entry-header {
            flex: 0 1 auto;
            margin: 0;
          }

          > .entry-content {
            flex: 1;
            margin-left: 2em;
          }
        }
      }
    }
  }

  /**
   * スポンサー
   */
  &:nth-child(5) {
    .panel-content {
      .wrap {
        @media screen and (min-width: 1024px) {
          padding-right: 0;
          padding-left: 0;
          max-width: 840px;
        }
      }
    }
  }
}
