.wcorg-sponsors {
  h2 {
    flex: 1 1 100%;
    margin: 2em 0 .5em;
    color: #2f4d65;
    font-size: 18px;
    padding: 0 10px;

    @media screen and (min-width: 1024px) {
      padding: 0 25px;
    }
  }

  [class^="wcorg-sponsor-level-"] {
    margin: 0 -10px -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
      margin: 0 -25px -25px;
    }
  }

  [class^="wcorg-sponsor-level-"]:nth-of-type(1),
  [class^="wcorg-sponsor-level-"]:nth-of-type(2) {
    .wcorg-sponsor {
      flex:0 1 50%;
    }
  }

  [class^="wcorg-sponsor-level-"]:nth-of-type(n + 3) {
    .wcorg-sponsor {
      flex:0 1 33%;
    }
  }

  .wcorg-sponsor {
    display: flex;
    padding: 0 10px 10px;
    max-width: 100%;

    @media screen and (min-width: 1024px) {
      padding: 0 25px 25px;
    }

    h3 {
      display: none;
    }

    .wcorg-sponsor-description {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: 1px solid #bedfea;

      @media screen and (min-width: 1024px) {
        padding: 20px;
      }

      :not(img) {
        display: none;
      }

      img {
        vertical-align: bottom;
      }
    }
  }
}
